# Step 1: Install the mongomock library and Pymongo

In [ ]:
!pip install mongomock
!pip install pymongo

# Step 2: Import the required libraries and create a simulated MongoDB environment

In [17]:
import mongomock
import pymongo

# Create a simulated MongoDB client and database

In [4]:
simulated_client = mongomock.MongoClient()
simulated_db = simulated_client["mydatabase"]
simulated_collection = simulated_db["mycollection"]

# Step 3: Insert sample data into the simulated collection

In [5]:
data = [
    {"name": "Alice Johnson", "age": 25, "city": "Los Angeles"},
    {"name": "Bob Smith", "age": 32, "city": "Chicago"},
    {"name": "Emily Brown", "age": 28, "city": "San Francisco"},
    {"name": "David Wilson", "age": 40, "city": "Houston"},
    {"name": "Sophia Lee", "age": 22, "city": "New York"},
    {"name": "James Davis", "age": 35, "city": "Boston"},
    {"name": "Olivia Miller", "age": 29, "city": "Seattle"},
    {"name": "Daniel Anderson", "age": 28, "city": "Miami"},
    {"name": "Ava Martinez", "age": 27, "city": "Phoenix"},
    {"name": "Michael Taylor", "age": 31, "city": "Denver"},
    {"name": "Emma Thomas", "age": 24, "city": "Atlanta"},
    {"name": "William Hernandez", "age": 26, "city": "Dallas"},
    {"name": "Liam Wilson", "age": 30, "city": "San Diego"},
    {"name": "Isabella Lewis", "age": 33, "city": "Portland"},
    {"name": "Ethan Turner", "age": 23, "city": "Las Vegas"},
    {"name": "Mia Walker", "age": 28, "city": "Philadelphia"},
    {"name": "Alexander Hill", "age": 29, "city": "Detroit"},
    {"name": "Abigail Adams", "age": 27, "city": "Minneapolis"},
    {"name": "Daniel Martin", "age": 34, "city": "Orlando"},
    {"name": "Sofia Nelson", "age": 25, "city": "Austin"}
]

In [6]:
# Insert the documents into the simulated collection
for doc in data:
    simulated_collection.insert_one(doc)

In [7]:
print("Documents inserted:", len(data))

Documents inserted: 20

# Step 4: Perform MongoDB-like queries and operations in the simulated environment

In [8]:
# Basic query: Find all documents in the collection
result = simulated_collection.find()
for doc in result:
    print(doc)

{'name': 'Alice Johnson', 'age': 25, 'city': 'Los Angeles', '_id': ObjectId('64dbe2ba3c9edcf42ad4c74a')}
{'name': 'Bob Smith', 'age': 32, 'city': 'Chicago', '_id': ObjectId('64dbe2ba3c9edcf42ad4c74b')}
{'name': 'Emily Brown', 'age': 28, 'city': 'San Francisco', '_id': ObjectId('64dbe2ba3c9edcf42ad4c74c')}
{'name': 'David Wilson', 'age': 40, 'city': 'Houston', '_id': ObjectId('64dbe2ba3c9edcf42ad4c74d')}
{'name': 'Sophia Lee', 'age': 22, 'city': 'New York', '_id': ObjectId('64dbe2ba3c9edcf42ad4c74e')}
{'name': 'James Davis', 'age': 35, 'city': 'Boston', '_id': ObjectId('64dbe2ba3c9edcf42ad4c74f')}
{'name': 'Olivia Miller', 'age': 29, 'city': 'Seattle', '_id': ObjectId('64dbe2ba3c9edcf42ad4c750')}
{'name': 'Daniel Anderson', 'age': 28, 'city': 'Miami', '_id': ObjectId('64dbe2ba3c9edcf42ad4c751')}
{'name': 'Ava Martinez', 'age': 27, 'city': 'Phoenix', '_id': ObjectId('64dbe2ba3c9edcf42ad4c752')}
{'name': 'Michael Taylor', 'age': 31, 'city': 'Denver', '_id': ObjectId('64dbe2ba3c9edcf42ad4c753')}
{'name': 'Emma Thomas', 'age': 24, 'city': 'Atlanta', '_id': ObjectId('64dbe2ba3c9edcf42ad4c754')}
{'name': 'William Hernandez', 'age': 26, 'city': 'Dallas', '_id': ObjectId('64dbe2ba3c9edcf42ad4c755')}
{'name': 'Liam Wilson', 'age': 30, 'city': 'San Diego', '_id': ObjectId('64dbe2ba3c9edcf42ad4c756')}
{'name': 'Isabella Lewis', 'age': 33, 'city': 'Portland', '_id': ObjectId('64dbe2ba3c9edcf42ad4c757')}
{'name': 'Ethan Turner', 'age': 23, 'city': 'Las Vegas', '_id': ObjectId('64dbe2ba3c9edcf42ad4c758')}
{'name': 'Mia Walker', 'age': 28, 'city': 'Philadelphia', '_id': ObjectId('64dbe2ba3c9edcf42ad4c759')}
{'name': 'Alexander Hill', 'age': 29, 'city': 'Detroit', '_id': ObjectId('64dbe2ba3c9edcf42ad4c75a')}
{'name': 'Abigail Adams', 'age': 27, 'city': 'Minneapolis', '_id': ObjectId('64dbe2ba3c9edcf42ad4c75b')}
{'name': 'Daniel Martin', 'age': 34, 'city': 'Orlando', '_id': ObjectId('64dbe2ba3c9edcf42ad4c75c')}
{'name': 'Sofia Nelson', 'age': 25, 'city': 'Austin', '_id': ObjectId('64dbe2ba3c9edcf42ad4c75d')}

In [9]:
# Query with criteria: Find documents where age is greater than 30
query = {"age": {"$gt": 30}}
result = simulated_collection.find(query)
for doc in result:
    print(doc)

{'name': 'Bob Smith', 'age': 32, 'city': 'Chicago', '_id': ObjectId('64dbe2ba3c9edcf42ad4c74b')}
{'name': 'David Wilson', 'age': 40, 'city': 'Houston', '_id': ObjectId('64dbe2ba3c9edcf42ad4c74d')}
{'name': 'James Davis', 'age': 35, 'city': 'Boston', '_id': ObjectId('64dbe2ba3c9edcf42ad4c74f')}
{'name': 'Michael Taylor', 'age': 31, 'city': 'Denver', '_id': ObjectId('64dbe2ba3c9edcf42ad4c753')}
{'name': 'Isabella Lewis', 'age': 33, 'city': 'Portland', '_id': ObjectId('64dbe2ba3c9edcf42ad4c757')}
{'name': 'Daniel Martin', 'age': 34, 'city': 'Orlando', '_id': ObjectId('64dbe2ba3c9edcf42ad4c75c')}

In [10]:
# Find documents where age is between 25 and 30
query = {"age": {"$gte": 25, "$lte": 30}}
result = simulated_collection.find(query)
for doc in result:
    print(doc)

{'name': 'Alice Johnson', 'age': 25, 'city': 'Los Angeles', '_id': ObjectId('64dbe2ba3c9edcf42ad4c74a')}
{'name': 'Emily Brown', 'age': 28, 'city': 'San Francisco', '_id': ObjectId('64dbe2ba3c9edcf42ad4c74c')}
{'name': 'Olivia Miller', 'age': 29, 'city': 'Seattle', '_id': ObjectId('64dbe2ba3c9edcf42ad4c750')}
{'name': 'Daniel Anderson', 'age': 28, 'city': 'Miami', '_id': ObjectId('64dbe2ba3c9edcf42ad4c751')}
{'name': 'Ava Martinez', 'age': 27, 'city': 'Phoenix', '_id': ObjectId('64dbe2ba3c9edcf42ad4c752')}
{'name': 'William Hernandez', 'age': 26, 'city': 'Dallas', '_id': ObjectId('64dbe2ba3c9edcf42ad4c755')}
{'name': 'Liam Wilson', 'age': 30, 'city': 'San Diego', '_id': ObjectId('64dbe2ba3c9edcf42ad4c756')}
{'name': 'Mia Walker', 'age': 28, 'city': 'Philadelphia', '_id': ObjectId('64dbe2ba3c9edcf42ad4c759')}
{'name': 'Alexander Hill', 'age': 29, 'city': 'Detroit', '_id': ObjectId('64dbe2ba3c9edcf42ad4c75a')}
{'name': 'Abigail Adams', 'age': 27, 'city': 'Minneapolis', '_id': ObjectId('64dbe2ba3c9edcf42ad4c75b')}
{'name': 'Sofia Nelson', 'age': 25, 'city': 'Austin', '_id': ObjectId('64dbe2ba3c9edcf42ad4c75d')}

In [11]:
# Find documents in specific cities
cities_to_find = ["New York", "Los Angeles", "Chicago"]
query = {"city": {"$in": cities_to_find}}
result = simulated_collection.find(query)
for doc in result:
    print(doc)

{'name': 'Alice Johnson', 'age': 25, 'city': 'Los Angeles', '_id': ObjectId('64dbe2ba3c9edcf42ad4c74a')}
{'name': 'Bob Smith', 'age': 32, 'city': 'Chicago', '_id': ObjectId('64dbe2ba3c9edcf42ad4c74b')}
{'name': 'Sophia Lee', 'age': 22, 'city': 'New York', '_id': ObjectId('64dbe2ba3c9edcf42ad4c74e')}

In [12]:
# Update multiple documents at once
query = {"age": {"$gt": 30}}
new_values = {"$set": {"status": "Senior"}}
updated_count = simulated_collection.update_many(query, new_values)
print(f"Updated {updated_count.modified_count} documents.")

Updated 6 documents.

In [14]:
# Delete documents where age is less than 25
query = {"age": {"$lt": 25}}
deleted_count = simulated_collection.delete_many(query)
print(f"Deleted {deleted_count.deleted_count} documents.")

Deleted 3 documents.

In [15]:
# Count the number of documents in the collection
doc_count = simulated_collection.count_documents({})
print("Total documents:", doc_count)

Total documents: 17

In [18]:
# Find the youngest person
youngest_person = simulated_collection.find_one({}, sort=[("age", pymongo.ASCENDING)])
print("Youngest person:", youngest_person)

Youngest person: {'name': 'Alice Johnson', 'age': 25, 'city': 'Los Angeles', '_id': ObjectId('64dbe2ba3c9edcf42ad4c74a')}

In [19]:
# Find the oldest person in a specific city
oldest_person_city = "San Francisco"
query = {"city": oldest_person_city}
oldest_person = simulated_collection.find_one(query, sort=[("age", pymongo.DESCENDING)])
print(f"Oldest person in {oldest_person_city}:", oldest_person)

Oldest person in San Francisco: {'name': 'Emily Brown', 'age': 28, 'city': 'San Francisco', '_id': ObjectId('64dbe2ba3c9edcf42ad4c74c')}

In [23]:
# Find the average age of all people
average_age_result = simulated_collection.aggregate([
    {"$group": {"_id": None, "average_age": {"$avg": "$age"}}}
])
average_age = list(average_age_result)[0]["average_age"]
print("Average age:", round(average_age, 2))

Average age: 29.82

In [24]:
# Find the cities where people live, sorted alphabetically
distinct_cities = simulated_collection.distinct("city")
distinct_cities.sort()
print("Distinct cities:", distinct_cities)

Distinct cities: ['Austin', 'Boston', 'Chicago', 'Dallas', 'Denver', 'Detroit', 'Houston', 'Los Angeles', 'Miami', 'Minneapolis', 'Orlando', 'Philadelphia', 'Phoenix', 'Portland', 'San Diego', 'San Francisco', 'Seattle']